---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/home/Hero.astro';
import ChiSiamo from '../components/home/ChiSiamo.astro';
import Servizi from '../components/home/Servizi.astro';
import Prodotti from '../components/home/Prodotti.astro';
import Stats from '../components/home/Stats.astro';
import CtaFinale from '../components/home/CtaFinale.astro';
---

<Layout title="Distributori Automatici | Luana Mariani">
  <main>
    <Hero />
    <ChiSiamo />
    <Servizi />
    <Prodotti />
    <Stats />
    <CtaFinale />
  </main>
</Layout>